code/src/app/xsd-xml/wsdl/OzetBeyanWS.wsdl

<wsdl:definitions name="OzetBeyanHizmeti" targetNamespace="http://Gumruk.BizTalk.Integration"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://Gumruk.BizTalk.Integration"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://Gumruk.BizTalk.Integration"
               xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://schemas.microsoft.com/BizTalk/2003/Any"/>
      <xs:element name="OzetBeyan">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" ref="q1:Root"
                        xmlns:q1="http://schemas.microsoft.com/BizTalk/2003/Any"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="OzetBeyanResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" ref="q2:Root"
                        xmlns:q2="http://schemas.microsoft.com/BizTalk/2003/Any"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/BizTalk/2003/Any"
               xmlns:tns="http://schemas.microsoft.com/BizTalk/2003/Any" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Root">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="OzetBeyanSoapIn">
    <wsdl:part element="tns:OzetBeyan" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="OzetBeyanSoapOut">
    <wsdl:part element="tns:OzetBeyanResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Gumruk_Biztalk_EImzaTescil_YeniOzetBeyan_YeniOzetBeyanTalepSoap">
    <wsdl:operation name="OzetBeyan">
      <wsdl:input message="tns:OzetBeyanSoapIn" name="OzetBeyanSoapIn"
                  wsaw:Action="http://Gumruk.BizTalk.Integration/Gumruk_Biztalk_EImzaTescil_YeniOzetBeyan_YeniOzetBeyanTalep/OzetBeyan"/>
      <wsdl:output message="tns:OzetBeyanSoapOut" name="OzetBeyanSoapOut"
                   wsaw:Action="http://Gumruk.BizTalk.Integration/Gumruk_Biztalk_EImzaTescil_YeniOzetBeyan_YeniOzetBeyanTalep/OzetBeyan"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Gumruk_Biztalk_EImzaTescil_YeniOzetBeyan_YeniOzetBeyanTalepSoap"
                type="tns:Gumruk_Biztalk_EImzaTescil_YeniOzetBeyan_YeniOzetBeyanTalepSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OzetBeyan">
      <soap:operation
        soapAction="http://Gumruk.BizTalk.Integration/Gumruk_Biztalk_EImzaTescil_YeniOzetBeyan_YeniOzetBeyanTalep/OzetBeyan"
        style="document"/>
      <wsdl:input name="OzetBeyanSoapIn">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="OzetBeyanSoapOut">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OzetBeyanHizmeti">
    <wsdl:port binding="tns:BasicHttpBinding_Gumruk_Biztalk_EImzaTescil_YeniOzetBeyan_YeniOzetBeyanTalepSoap"
               name="BasicHttpBinding_Gumruk_Biztalk_EImzaTescil_YeniOzetBeyan_YeniOzetBeyanTalepSoap">
      <soap:address location="http://ws.gtb.gov.tr:8080/EXT/Gumruk/EGE/Provider/OzetBeyanWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
